@import "tailwindcss";

@theme {
    --color-custom-gray-1: #0c0c0c;
	--font-merriweather: var(--font-merriweather);
	--font-montserrat: var(--font-montserrat);


}

@layer base {
    h1, h2, h3 { 
        @apply font-merriweather;
    }
    body {
        @apply font-montserrat;
    }
}


@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@layer utilities {
	.bg-dev,
	.bg-dev * {
		background-color: rgba(200, 0, 0, 0.35);
	}

	.border-dev,
	.border-dev * {
		border: 1px solid rgba(0, 200, 0, 0.35);
	}
}